<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PASTA_PENDENTE" value="E:/ENTRADA/_PENDENTES"/>
    <add key="PASTA_PROCESSANDO" value="E:/ENTRADA/PROCESSANDO/"/>
    <add key="PASTA_ORIGEM" value="E:/ENTRADA/FIAT"/>
    <add key="PASTA_DESTINO" value="E:/ENTRADA/_PENDENTES/cicero.ranzan"/>
    <add key="PASTA_PDF" value="E:/ENTRADA/ERRO/.pdf"/>
    <add key="PASTA_COMPACTADOS" value="\\drb-web2\ENTRADA\SUCESSO_COMPACTADO_ORIGINAL"/>
  </appSettings>
</configuration>