<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PASTA_PENDENTE" value="\\drb-web2\inetpub\wwwroot\REPFIS\SRV5\FOLDERS\_PENDENTES"/>
    <add key="PASTA_PROCESSANDO" value="\\drb-web2\inetpub\wwwroot\REPFIS\SRV5\FOLDERS\PROCESSANDO"/>
    <add key="PASTA_CTE" value="\\drb-web2\ENTRADA\ERRO\CTE"/>
    <add key="PASTA_ORIGEM" value="\\drb-web2\inetpub\wwwroot\REPFIS\SRV5\FOLDERS\__PENDENTES"/>
    <add key="PASTA_DESTINO" value="\\drb-web2\inetpub\wwwroot\REPFIS\SRV5\FOLDERS\_PENDENTES"/>
    <add key="PASTA_PDF" value="\\drb-web2\ENTRADA\ERRO\.pdf"/>
    <add key="PASTA_COMPACTADOS" value="\\drb-web2\ENTRADA\SUCESSO_COMPACTADO_ORIGINALL"/>
  </appSettings>
</configuration>